header{
    display:flex;
    justify-content: space-between;
    background-color: bisque;
}

.dark{
    background-color: black;
    color:white;
    height: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:5px solid yellow;
    border-bottom:5px solid rgb(0, 0, 0);
    font-weight: bolder;
}
.light{
    background-color: rgb(211, 247, 220);
    color:rgb(27, 21, 21);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:5px solid rgb(245, 180, 3);
    font-weight: bolder;
}

.imageIndex{
    width: 50%;
    background-color: rgb(42, 71, 165); 
    height: auto;
    margin-right: 30px;
}
.mb-3{
    width: 200%;
}

.form1{
    display:flex;
}

navWel{
    text-align: center;
    margin-left:30px;
}